.card{
    width: 350px;
    height: 200px;
    border-radius: 5px;
    border: 3px solid var(--color);
    background-image: var(--url-img);
    background-position: center;
    background-size: cover;
}
@media screen and (max-width:768px) {
    .card{
        width: 325px;
        height: 185px;
    }
}
@media screen and (max-width:550px) {
    .card{
        width: 300px;
        height: 170px;
    }
}
@media screen and (max-width:400px) {
    .card{
        width: 200px;
        height: 100px;
    }
}